.clearButton {
    background-color: transparent;
    border: none;
    color: white;
    padding: none;
    min-width: 44px;
    height: 44px;
    transition: all ease .6s;
}

.clearButtonNoHover {
    background-color: transparent;
    border: none;
    color: white;
    transition: all ease 1s;
    height: 44px;
}

.dropdown-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
    border-radius: 0px !important
}

@media only screen and (min-width: 770px) and (max-width: 1000px) {
    .dropdown-view {
        margin-top: 6.3px;
    }
}

.clearButtonDark {
    background-color: transparent;
    border: none;
    color: black;
    transition: all ease 1s;
    border-radius: 30px;
    // height: 44pc;
    // width: 44px;
}

.clearButton:hover {
    color: #b9b9b9 !important
}

.clearButtonDark:hover {
    background-color: #a5a5a5 !important
}

.btn.btn-close {
    color: white
}

.btn.btn-primary {
    transition: all 1s ease;
}

.btn.btn-primary:hover {
    color: rgb(149, 149, 149) !important;
    transition: all .6s ease;
}


.btn.btn-outline-secondary {
    transition: all ease 1s;
    height: 44px;
    margin: 1rem 0rem
}

.btn.btn-outline-secondary:hover {
    background-color: rgb(36, 36, 36);
}

.btn.btn-outline-dark.rounded-0 {
    border: 'none';
    transition: all ease 2s;

    &:hover {
        background-color: transparent;
        color: black;
    }
}

.dropdown-menu {
    background-color: rgb(0, 0, 0, .85);
    color: white !important;
    white-space: pre-line;
}

.dropdown-toggle::after {
    display: none;
}

.addPhaseButton {
    color: white;
    border: 1px solid rgb(100, 100, 100)
}

.dropdown-toggle {
    background-color: transparent !important;
    border: none !important;
    color: white !important;
    // white-space: pre-line;
}

.dropdown-toggle:hover {
    background-color: transparent;
    color: rgb(149, 149, 149) !important;
    // white-space: pre-line;
}

.navBarButton {
    color: rgb(140, 140, 140)
}


.dropdown-item {
    color: rgb(200, 200, 200)
}

.dropdown-item:hover {
    background-color: rgb(39, 39, 39);
}

.projectCollapse {
    background-color: transparent !important;
    width: 100%;
    border: none;
    padding: 0px;
    padding-left: 10%;
    text-align: left;
    color: black
}