
// .width-75 {
//   width: 75%;
// }

.sphere-gradient {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(125, 6, 0, 1) 100%);
}

.project-card {
  min-width: 375px;
}



.noBorder {
  border: none;
}

.paddingSides12 {
  padding: 0px 12px
}

.cardRowTask {
  display: grid;
  grid-template-columns: .8fr 1.5fr 1fr .2fr;
  gap: 2%;
  margin: .5% 0%,
}

.cardTitle {
  text-align: center;
  font-size: 20px;
}

.hideOverflow {
  white-space: nowrap;
  overflow: hidden
}

.card-header {
  min-width: 375px;
}

.cardRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: .5% 0%,
}

.project-card-left-label {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr
}


.project-input-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20%,
}

.collab-card {
  margin: 4px 0%;
  border-radius: 10px;
  overflow: hidden;
  padding: 0px !important
}

.collab-card-main-line {
  display: grid;
  grid-template-columns: 44px 1fr 132px;
  background-color: rgb(225, 225, 225);
}

.collab-card-project-main-line {
  display: grid;
  grid-template-columns: 44px 1fr 176px;
  padding: 0px;
  background-color: rgb(225, 225, 225);
}

.collapse-button {
  width: 100%;
}

.collab-button {
  width: 40px;
  height: 44px;
}

.collab-card-buttons-right {
  display: flex;
  justify-content: right;
  padding-right: 4%;
  align-items: center;
}

@media only screen and (max-width: 579px) {

  .project-card-left-label {
    grid-template-columns: 29px 1fr .4fr;
  }

  .cardRow {
    grid-template-columns: .5fr 1fr
  }

  .project-input-container {
    display: grid;
    grid-template-columns: 1fr 29px;
    padding-right: 0px
  }
}