.checkpoint {
  display: grid;
  grid-template-columns: 8% 92%;
  min-width: 375px;
}

.checkpoint-header {
  position: relative;
  display: grid;
  grid-template-columns: 22% 48% 20% 10%;
  align-content: 'center';
  height: 53px;
}

.header-col-1 {
  display: flex;
  align-items: center;
  padding: 0px 8px; // justify-content: space-between;
}

.blue-line-left {
  border-left: 2px solid rgb(35, 166, 213);
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.blue-line-bottom {
  border-bottom: 2px solid rgb(35, 166, 213);
}

.centeredInput {
  text-align: center !important;
  border: none !important;
  background-color: transparent !important;
  width: 75% !important;
}

.threeVert {
  margin: 3px 0px;
}

.blueLineLeft {
  border-left: 2px solid rgb(35, 166, 213);
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.blueLineBottom {
  border-bottom: 2px solid rgb(35, 166, 213);
}

.checkP-margin-left {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.checkPButton {
  background-color: transparent;
  border: none;
  padding: 0px;
  text-align: center;
  color: black;
  width: 35px;
  height: 35px;
}

@media only screen and (max-width: 580px) {
  .hideSmall {
    display: none;
  }
}

@media only screen and (max-width: 580px) {
  .hideVsmall {
    display: none;
  }

  .small-name {
    width: 100% !important;
  }

  .hide {
    display: none;
  }

  .checkpoint {
    grid-template-columns: 0% 89%;
  }

  .checkpoint-header {
    grid-template-columns: 28% 56% 16%;
  }
}