@import 'bootstrap/dist/css/bootstrap.css';
@import '~bootstrap-icons/font/bootstrap-icons.css';
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

:root {
  --font-primary: 'Poppins', Arial, sans-serif;
  --background1: 'linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(46, 45, 253, 1) 100%)';
}

body {
  // background-color: rgb(34, 37, 41);
  // background-color: black;
  // background-color: rgb(43, 27, 49);

  // background: rgb(25, 0, 17);
  // background: radial-gradient(circle, rgba(25, 0, 17, 1) 0%, rgba(0, 0, 0, 0.7693671218487395) 100%);
  // height: 100vh;
  // width: 100vw;
  transition: all var(--background1) ease;
  opacity: 1;
  font-family: Arial, Helvetica, sans-serif;
}


.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10% 4%;
}

#__next {
  min-height: 100vh;
  background-color: black // background: rgb(0, 20, 28);
    // background: linear-gradient(90deg, rgba(0, 20, 28, 1) 0%, rgba(0, 0, 0, 1) 50%, rgb(23, 10, 0) 100%);
    // background: rgb(0, 0, 0);
    // background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgb(17, 11, 11) 100%);
}

.bigDad {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  // padding: 2% 10%;
  // background: rgb(0, 17, 25);
  // background: linear-gradient(90deg, rgba(0, 17, 25, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(46, 0, 21, 1) 100%);
  min-width: 600px;
  padding-bottom: 50vh;
}

.card.text-bg-dark.mb-3 {
  opacity: .9;
  background-color: rgba(51, 51, 52, 0.3) !important;
}

.btn.btn-outline-dark.rounded-0 {
  border: 'none';
  transition: all ease 2s;

  &:hover {
    background-color: transparent;
    color: black;
  }
}

.newProjectPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card.text-bg-info.mb-3 {
  background-color: aqua;
  margin-bottom: 0px !important;
}

.minWidth200 {
  min-width: 150px;
}

.verticalCenter {
  display: flex;
  align-items: center;
}

.cardTitle {
  text-align: center;
  font-size: 20px;
}

.cardRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: .5% 0%,
}

.btn.btn-outline-secondary {
  transition: all ease 1s;
}

.btn.btn-outline-secondary:hover {
  background-color: rgb(36, 36, 36);
}

.fullCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fullCenter2 {
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-content: center;
  padding: 1% 4%;
}

.form-control {
  min-width: 129.29px;
}


.icon-down {
  transform: rotate(90deg);
  transition: all ease .5s;
}

.icon-up {
  transition: all ease .5s;
  transform: rotate(-90deg);
}

.twirldown {
  transform: rotate(360deg);
  transition: all ease 1.5s;
}

.twirlup {
  transition: all ease 1.5s;
  transform: rotate(720deg);
}


#project-top-bar {
  color: white;
  border-bottom: 1px solid rgb(84, 84, 84);
  // margin-bottom: 1%;
  // margin: 1%;
  display: flex;
  gap: 7%
}

.clearButton {
  background-color: transparent;
  border: none;
  color: rgb(140, 140, 140);
  transition: all ease 1.5s;
}

// .clearButton:hover {
//   background-color: #1f2226;
// }

.bottomRow {
  background-color: rgb(30, 30, 30);
  color: white;
  text-align: center;
}

.checkpoint {
  // position: relative;
  display: grid;
  // grid-template-columns: 84px 75% 100px;
  grid-template-columns: 10% 1fr 10%;
  min-width: 500px;
}

.task {
  display: grid;
  grid-template-columns: 10% 8% 1fr 10%;
  // gap: 1%;
  min-width: 500px;
}

.taskDeets {
  display: grid;
  grid-template-columns: 10% 8% 72% 10%;
  min-width: 500px;
  // max-height: 400px;
  transition: all 1s ease;
}

.taskDeetsExpand {
  transition: all 1s ease;
  grid-template-columns: 10% 40% 40% 10%;
}

.card {
  background-color: rgb(225, 225, 225, .95);
}

#calendar-container {
  width: 100%;
  min-height: 100vh;
  border: 1px solid rgb(84, 84, 84);
  color: white;
  display: flex;
  flex-direction: column;
}

#calendar-header {
  padding: 3%;
  border-bottom: 1px solid rgb(84, 84, 84);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#day-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day-label {
  padding: 2%;
  text-align: center;
  color: rgb(174, 174, 174);
}

#dates-container {
  flex: 1;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  text-overflow: ellipsis
}

.project-start-box {
  background-color: #23a6d5;
  height: 15%;
  margin: 0% -1px;
  margin-left: 8%;
  padding-left: 4%;
  font-size: 12px;
  color: black;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
  overflow: hidden;
  display: flex;
  // flex-direction: column;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis
}

.project-deadline-box {
  background-color: #23a6d5;
  height: 15%;
  margin: 0% -1px;
  margin-right: 8%;
  padding-right: 4%;
  font-size: 12px;
  color: black;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
  overflow: hidden;
  display: flex;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  justify-content: right;
}

.project-div {
  height: 15%;
  margin: 0% -1px // background-color: #e73c7e !important
}

.checkP-div {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  // background-color: #23a6d5
}

.calendar-row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-bottom: 1px solid rgb(84, 84, 84);
}

.date-number {
  margin: 5% 0 5% 12%;
}

.calendar-day {
  // padding: 8% 0%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgb(84, 84, 84);
  ;
}

.card-header.\32 {
  position: relative;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  // justify-items: center;
  align-items: center;
}

.btn.btn-close {
  color: white
}

::-webkit-scrollbar {
  width: 10px;
  // background-color: lightgray;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(174, 174, 174);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(74, 196, 253);
}

// #allCollabsCard::-webkit-scrollbar-track {
//   -webkit-box-shadow: inset 0 0 6px rgb(174, 174, 174) !important;
//   border-radius: 10px;
// }

// #allCollabsCard::-webkit-scrollbar-thumb {
//   border-radius: 10px;
//   -webkit-box-shadow: inset 0 0 6px rgb(0, 0, 0) !important;
// }


.checkpoint-progress {
  position: absolute;
  pointer-events: none;
  height: 100%;
  width: 100%;
  background-color: rgb(16, 197, 234, .4);
  // box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.2), 0 0 10px 5px rgba(255, 255, 255, 0.1), inset 0 0 5px 0px rgba(255, 255, 255, 0.5);
}

.gradient-text {
  font-family: Helvetica, arial, sans-serif;
  background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #a8ffeb);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dropdown-item {
  color: rgb(200, 200, 200)
}

.dropdown-item:hover {
  background-color: rgb(130, 130, 130);
}

.container {
  padding: 0px;

}

.form-control {
  font-family: Arial, Helvetica, sans-serif;
}

.animated {
  transition: all ease 2s;
}

.rotate {
  transform: rotate(360deg);
}

.grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}

.arrowOpen {
  transition: all 1s ease;
  transform: rotate(180deg);
}

.arrowClosed {
  transition: all 1s ease;
}

.modal-content {
  background-color: #1f2226;
  color: white;
}

.navBarShowing {
  display: block;
}

.navBarHidden {
  display: none;
}