.task {
  min-width: 375px;
  display: grid;
  grid-template-columns: 5% 10% 85%;
}

.task-header {
  display: grid;
  grid-template-columns: 20% 44% 25% 11%;
  height: 53px;
}

.col-1-task {
  display: flex;
}

.taskDeets {
  display: grid;
  grid-template-columns: 5% 10% 85%;
}

.taskDeetsExpand {
  min-width: 375px;
  grid-template-columns: 15% 42.5% 42.5%;
}

.orange-line-left {
  border-left: 2px solid rgb(255, 117, 26, 0.5);
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.task-deets-left-line {
  border-left: 2px solid rgb(255, 117, 26, 0.5);
  display: grid;
  grid-template-rows: 1fr 1fr;
  transition: 1.5s all ease
}

@media only screen and (max-width: 579px) {
  .orange-line-left {
    display: none;
  }

  .task {
    grid-template-columns: 0% 8% 92%;
  }
}

.planning-box {
  height: 250px;
  border: none;
  margin: 3px 0px;
  display: flex;
  flex-direction: column;
  transition: all 1.5s ease;
}

.planning-text {
  padding: 2% 5%;
  padding-top: 6px;
  flex: 1;
}

.small-orange-line-left {
  border-left: 2px solid rgb(255, 117, 26, 0.5);
  display: grid;
  grid-template-rows: 1fr 1fr;
  transition: 1.5s all ease;
}

@media only screen and (max-width: 580px) {
  // .taskDeetsExpand {
  //   background-color: red;
  //   grid-template-columns: 40% 40% 10%;
  // }

  .taskDeets {
    grid-template-columns: 8% 92%;
  }

  .taskDeets {
    min-width: 375px;
    display: grid;
    grid-template-columns: 4% 92%;
  }

  .taskDeetsExpand {
    min-width: 375px;
    grid-template-columns: 8% 46% 46%;

  }

  .task-header {
    display: grid;
    grid-template-columns: 18% 56% 28%;
  }

  .col-1-task {
    display: flex;
    justify-content: left;
    padding-left: 10px !important;
    align-items: center;
  }
}